<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Fixed bottom</a> -->
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Esta aplicación está optimizada para Google
                  Chrome 79 o versiones posteriores. Vea las indicaciones de compatibilidad.
                  © Copyright 2021 - MINCETUR Todos los derechos reservados. versión 1.0.0</a>
          </li>
      </ul>
  </div>
</nav>
